@font-face {
  font-family: 'searchfont';
  src: url('../font/searchfont.eot?53015494');
  src: url('../font/searchfont.eot?53015494#iefix') format('embedded-opentype'),
    url('../font/searchfont.woff2?53015494') format('woff2'),
    url('../font/searchfont.woff?53015494') format('woff'),
    url('../font/searchfont.ttf?53015494') format('truetype'),
    url('../font/searchfont.svg?53015494#searchfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "searchfont";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: '\e800';
}

/* '' */
.icon-home:before {
  content: '\e801';
}

/* '' */
.icon-plus-circled:before {
  content: '\e802';
}

/* '' */
.icon-fast-food:before {
  content: '\e815';
}

/* '' */
.icon-cab:before {
  content: '\f1b9';
}

/* '' */
.icon-shopping:before {
  content: '\f290';
}

/* '' */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

input, select {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: inline-flex;
}

a {
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 0px;
}

header {
  background-image: url(../image/index3.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scroll-hover {
  background-color: #2d2b41f8 !important;
  transition: all .3s;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
  border: none;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  background-color: #00000048;
  color: #ddd;
  height: 120px;
  z-index: 10;
  transition: all .3s;
}

header .logo {
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #eee;
  font-family: Arial, sans-serif;
  margin-left: 300px;
}

.add-your li a {
  background-color: #fff;
  height: 20px;
  padding: 14.5px;
  width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #eee;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: .5s;
  border-radius: 10px;
}

.listing .add-your a {
  color: #2d2b41;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  margin-right: 300px;
  padding: 15px;
}

.nav-links > li a {
  text-decoration: none;
  color: #eee;
  font-size: 15px;
  margin-right: 35px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 25px;
  display: inline-block;
  transition: .5s;
  border-radius: 5px;
}

.nav-links li a:hover {
  color: #2d2b41;
  background-color: white;
  transition: .3s;
}

.main-text {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  top: 42%;
  left: 50%;
  color: #eee;
  transform: translate(-50%, -50%);
  width: 0 auto;
}

.main-text h3 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 50px;
}

input::-webkit-input-placeholder {
  color: #000;
  font-family: Arial, sans-serif;
}

main input, select {
  text-align: center;
  color: #000;
  font-size: 20px;
  width: 380px;
  height: 80px;
}

main form {
  position: absolute;
  display: flex;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130px;
  width: auto;
}

main form input, select:focus {
  outline: none;
}

form #select-box {
  width: 420px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s ease-in-out;
}

form #select-box:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 10px #4CAF50;
  transition: .5s;
}

form #search-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #8e99ad;
  transition: all 0.5s ease-in-out;
}

#select-box2:hover {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 10px #4CAF50;
  transition: .5s;
}

.icons {
  margin-top: 27px;
  position: absolute;
  display: inline-flex;
  top: 62%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.icons i {
  width: 60px;
  height: 60px;
  background-color: white;
  color: cadetblue;
  border-radius: 50%;
  font-size: 35px;
  padding: 5px;
  margin-right: 130px;
}

.icons i::before {
  margin-left: 12px;
  margin-top: 12px;
}

.icons i p {
  margin-top: 23px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.content {
  background-color: white;
  height: 1228px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-text {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content h2, h6 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
  font-family: Arial, sans-serif;
}

.content h2 {
  font-size: 35px;
}

.content h6 {
  margin-top: 22px;
  font-size: 17px;
  color: rgba(48, 47, 47, 0.925);
}

.content-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 1400px;
  height: 700px;
  background-color: #2d2b41;
  border-radius: 8px;
}

.content-box p {
  font-size: 18px;
}

.icon-home, .icon-fast-food, .icon-cab, .icon-shopping, .icon-globe {
  font-size: 18px;
}

.content-box a {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
  width: 300px;
  height: 700px;
  background-color: #8e99ad;
  transition: all .3s;
}

.content-box a:hover:first-child {
  border-top-left-radius: 8px;
  transition: all .3s;
}

.content-box a:hover:last-child {
  border-bottom-left-radius: 8px;
  transition: all .3s;
}

.content-box a:hover {
  background-color: #2d2b41;
  transition: all .3s;
}